<main>
    <section class="">
        <div class="container">
            <h2 class="title-h1-index py-5 text-center">Platos Tipicos del <span class="span-red">Peru</span></h2>
            <div class="row aling-center">
                <div class="col-md-6">
                    <p class="pf-index">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe unde voluptates, sit maiores
                        culpa
                        voluptate iure atque ducimus impedit quos obcaecati debitis harum quia, alias nobis fugit
                        perferendis quasi soluta?
                    </p>
                </div>
                <div class="col-md-6">
                    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/img/carousel1.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="/img/carousel2.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="/img/carousel3.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="my-5">
        <div class="">
            <div class="grid-container relative">
                <div class="relative">
                    <div class="box-grid-img"><img src="/img/platefondo1.jpg" alt="" class="grid-img"></div>

                    <div class="position-middle fondo-plate">
                        <h2 class="title-grid">Title</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error optio alias voluptas.</p>
                        <a href="" class="btn-grid">A otra Pagina</a>
                    </div>
                </div>
                <div class="relative">
                    <img src="/img/platefondo2.jpg" alt="" class="grid-img">
                    <div class="position-middle fondo-plate">
                        <h2 class="title-grid">Title</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error optio alias voluptas.</p>
                        <a href="" class="btn-grid">A otra Pagina</a>
                    </div>
                </div>
                <div class="relative">
                    <img src="/img/platefondo3.jpg" alt="" class="grid-img">
                    <div class="position-middle fondo-plate">
                        <h2 class="title-grid">Title</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error optio alias voluptas.</p>
                        <a href="" class="btn-grid">A otra Pagina</a>
                    </div>
                </div>
                <div class="relative">
                    <img src="/img/platefondo4.jpg" alt="" class="grid-img">
                    <div class="position-middle fondo-plate">
                        <h2 class="title-grid">Title</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error optio alias voluptas.</p>
                        <a href="" class="btn-grid">A otra Pagina</a>
                    </div>
                </div>
                <div class="description-grid">
                    <p>Platos Peruanos</p>
                </div>
            </div>
        </div>
    </section>

    <section class="my-5">
        <div class="container">
            <h2 class="my-5"><span class="span-red">Galeria de Platos</span></h2>
            <div class="grid-imagenes">
                <div class="box-imagen relative"><img src="/img/carousel1.jpg" alt="" class="imagen-galeria"> </div>
                <div class="box-imagen relative"><img src="/img/carousel2.jpg" alt="" class="imagen-galeria"></div>
                <div class="box-imagen relative"><img src="/img/carousel3.jpg" alt="" class="imagen-galeria"></div>
                <div class="box-imagen relative"><img src="/img/fondo-food.jpg" alt="" class="imagen-galeria"></div>
            </div>
        </div>

        <div class="contenedor-imagen">
            <img src="/img/close.svg" alt="" class="close">
            <img src="" alt="" class="agregar-imagen">
        </div>
    </section>

    <section class="fondo-gastronomia parrallax py-5 my-5">
        <div class="container">
            <div class="centrar">
                <h2>Gastronomia <span class="span-red">Peruana</span></h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error, illum?</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod at labore sequi debitis aliquam!</p>
            </div>
            <div class="centrar">
                <div class="flex-logo">
                    <div class="flex-logo-gastro my-3">
                        <div><img src="/img/gastronomia1.svg" alt="" class="logo-gastro"></div>
                        <a href="" class="btn-grid color-btn">A otra Pagina</a>
                    </div>
                    <div class="flex-logo-gastro my-3">
                        <div><img src="/img/gastronomia2.svg" alt="" class="logo-gastro"></div>
                        <a href="" class="btn-grid color-btn">A otra Pagina</a>
                    </div>
                    <div class="flex-logo-gastro my-3">
                        <div><img src="/img/gastronomia3.svg" alt="" class="logo-gastro"></div>
                        <a href="" class="btn-grid color-btn">A otra Pagina</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>