<!--Error de Autenticacion error: es por defecto pata flash-->
{{#if error}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
 <strong>MESSAGE: </strong> {{error}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

<!--mensages error de los usuarios : email ....ect-->
{{#if error_user}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
 <strong>MESSAGE: </strong> {{error_user}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}


<!--Array de errores de las condicionales-->
{{#each errorUsers}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
 <strong>MESSAGE: </strong> {{text}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/each}}
