  <footer class="footer mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4 centrar">
                    <h3>Enlaces Externos</h3>
                    <ul>
                        <li><a href="" class="btn-footer">Otra Pagina</a></li>
                        <li><a href="" class="btn-footer">Otra Pagina</a></li>
                        <li><a href="" class="btn-footer">Otra Pagina</a></li>
                    </ul>
                </div>

                <div class="col-md-4 centrar">
                    <h3>Redes Sociales</h3>
                    <ul class="centrar">
                        <li><a href="" class="redes"><i class='bx bxl-facebook-circle'></i></a></li>
                        <li><a href="" class="redes"><i class='bx bxl-youtube' ></i></a></li>
                        <li><a href="" class="redes"><i class='bx bxl-instagram-alt' ></i></a></li>
                    </ul>
                </div>

                <div class="col-md-4 centrar">
                    <img src="/img/logoFooter.svg" alt="" class="logo-footer">
                </div>
            </div>
        </div>
    </footer>