<header class="relative parrallax header-fondo" id="header">
    <nav class="navigation">
        <div class="container flex-nav">
            <div><a href="/"><img src="/img/logo.svg" alt="LogoTipo" class="logo"></a></div>
            <div>
                <ul class="flex-nav">
                    <li><a href="/" class="link-nav">Home</a></li>
                    <li><a href="/plates" class="link-nav">Platos</a></li>
                    <li><a href="/mapa" class="link-nav">Mapa</a></li>
                    <li><a href="/users/signin" class="link-register" id="formLogin">Login</a></li>
                    <li><a href="/users/signup" class="link-register">Register</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="title-header">
        <h1 class="title-h1">VEN Y CONOCE LOS MEJORES PLATOS TIPICOS DEL PERU</h1>
    </div>
</header>